@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
* Calculate the contrast ratio between two colors.
* See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
*/
/**
* Determine whether to use dark or light text on top of given color.
* Returns black for dark text and white for light text.
*/
/*VARIABLES*/
:root {
  --font-color: #ececec;
}

mark {
  background-color: #bb0808;
  color: #dddddd;
}

em {
  border-radius: 0.5rem;
  color: #d4d802;
}

pre {
  margin: 2rem 0;
  background-color: #212121;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
  overflow-x: auto;
  width: 100%;
}

acronym {
  text-decoration: underline;
  color: #d4d802;
}

abbr {
  text-decoration: underline;
  color: #d4d802;
}

blockquote {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #212121;
  border-left: 0.5rem solid #d4d802;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
}

kbd {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: #e0dfd0;
  color: #1a1a1a;
  font-weight: 800;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
}

details {
  margin: 2rem 0;
  background-color: #212121;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
  cursor: pointer;
}
details :focus {
  outline: 2px solid #d4d802;
}
details :not(summary) {
  background-color: #070707;
  padding: 1rem;
}

summary {
  padding: 1rem;
}

a {
  color: #d4d802;
  text-decoration: underline;
}
a:hover {
  color: #fafd43;
}
a:visited {
  color: #bb0808;
}
a:visited:hover {
  color: #f63333;
  border-bottom: 1px solid #f63333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  overflow-wrap: break-word;
}

h1 {
  font-size: calc(var(--font-size) * 3.2);
}

h2 {
  font-size: calc(var(--font-size) * 2.4);
}

h3 {
  font-size: calc(var(--font-size) * 2);
}

h4 {
  font-size: calc(var(--font-size) * 1.6);
}

h5 {
  font-size: calc(var(--font-size) * 1.4);
}

h6 {
  font-size: calc(var(--font-size) * 1.2);
}

p {
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 1rem;
  line-height: 2rem;
  font-weight: 400;
}

/*FONT VARIABLES*/
:root {
  --font-size: calc(16px + 0.1vw);
}

/*SET ROOT FONT*/
html {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  letter-spacing: 0.2px;
  text-rendering: optimizeLegibility;
}

* {
  font-family: "Open Sans", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  padding: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

header {
  display: flex;
  flex-direction: column;
  padding: 1rem 2vw;
  background-color: #212121;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
}
header > nav {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  place-content: flex-start;
}
header > nav > a {
  padding: 0.5rem 1rem;
  margin: 0 2%;
  background-color: #070707;
  color: #d4d802 !important;
  text-decoration: none;
}
header > nav > a:hover {
  color: #bb0808 !important;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  place-content: space-evenly;
  padding: 0;
  margin: 1rem 0;
  background-color: #212121;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
}
nav > a {
  color: #d4d802;
  text-decoration: none;
  padding: 1rem 2rem;
}
nav > a:visited {
  color: #d4d802;
}

main {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
}
@media screen and (max-width: 800px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 500px) {
  main {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  margin-top: 2rem;
  background-color: #212121;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
}
footer * {
  place-self: center;
}

hr {
  border-style: solid;
  border-color: #bb0808;
  border-width: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

dl {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
dl:first-child {
  margin-top: 0;
}
dl:last-child {
  padding-bottom: 1rem;
}

dt {
  font-weight: 600;
  border-bottom: #d4d802 solid 2px;
  width: fit-content;
  margin-top: 0.5rem;
}

dd {
  font-weight: 300;
  color: #ececec;
  width: fit-content;
  margin-top: 0.1rem;
  margin-left: 0.5rem;
}

ul, ol {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

/*Nested list without bottom margins*/
ul > *, ul > * > *, ol > *, ol > * > * {
  margin-bottom: 0;
}

/*Nesting levels*/
ul {
  list-style: square;
}
ul ul {
  list-style: disc;
}
ul ul ul {
  list-style: circle;
}
ul li::marker {
  color: #a2a502;
}

ol {
  list-style: upper-roman;
  display: inline-flex;
}

li {
  list-style-position: inside;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: rgba(7, 7, 7, 0.5);
  color: #dddddd;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: black;
}
@media screen and (max-width: 500px) {
  fieldset {
    margin: 1rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-style: none;
    border-width: 0.2rem;
    border-color: #717301;
    box-shadow: none;
  }
}
fieldset form {
  background-color: transparent;
  color: #dddddd;
  box-shadow: none;
  border-style: none;
  border-width: 0.2rem;
  border-color: black;
  margin: 0;
  padding: 0;
}

legend {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.4rem;
  background-color: black;
  color: #dddddd;
}

textarea:focus,
select:focus,
button:focus,
input:focus {
  outline: 2px solid #d4d802;
}

input[type=text],
input[type=password],
input[type=search],
input[type=url],
input[type=tel],
input[type=number],
input[type=email],
input[type=date],
input[type=datetime-local],
textarea {
  padding: 0.5rem;
  background-color: black;
  color: #dddddd;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 0px 1rem -0.8rem inset;
  border: none;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}
input[type=text][placeholder],
input[type=password][placeholder],
input[type=search][placeholder],
input[type=url][placeholder],
input[type=tel][placeholder],
input[type=number][placeholder],
input[type=email][placeholder],
input[type=date][placeholder],
input[type=datetime-local][placeholder],
textarea[placeholder] {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
input[type=text][placeholder]::placeholder,
input[type=password][placeholder]::placeholder,
input[type=search][placeholder]::placeholder,
input[type=url][placeholder]::placeholder,
input[type=tel][placeholder]::placeholder,
input[type=number][placeholder]::placeholder,
input[type=email][placeholder]::placeholder,
input[type=date][placeholder]::placeholder,
input[type=datetime-local][placeholder]::placeholder,
textarea[placeholder]::placeholder {
  color: #c6c6c6;
}

textarea {
  resize: none;
}

select {
  background-color: black;
  color: #dddddd;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 0px 1rem -0.8rem inset;
  border: none;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.3rem;
  cursor: pointer;
}

optgroup {
  padding: 0.5rem;
}

option {
  cursor: pointer;
}

input[type=radio] {
  cursor: pointer;
}

input[type=file] {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;
  text-indent: 1rem;
  background-color: black;
  color: #dddddd;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 0px 1rem -0.8rem inset;
  border: none;
}

input[type=button],
input[type=submit],
input[type=reset],
button {
  display: inline-flex;
  min-width: fit-content;
  width: auto;
  height: fit-content;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: #d4d802;
  color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
  font-weight: 700;
  border: none;
  text-align: center;
  justify-content: center;
  appearance: none;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
  background-color: #717301;
  color: #1a1a1a;
}
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
button:active {
  background-color: #fafd43;
  color: #dddddd;
}

input[type=range] {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input[type=color] {
  height: 2rem;
  width: 4rem;
  padding: 0.2rem;
  background-color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgba(7, 7, 7, 0.5);
  color: #dddddd;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: black;
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
form > nav {
  box-shadow: none;
  background-color: transparent;
  place-content: flex-start;
}
@media screen and (max-width: 500px) {
  form {
    border: none;
    box-shadow: none;
    margin: 1rem 0;
    padding: 1rem;
  }
}

label {
  padding: 0.25rem 0rem;
  width: fit-content;
}

table {
  background-color: #070707;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0.2rem solid black;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
}

tr:nth-child(2n+1) {
  background-color: #212121;
}

tr:first-child {
  background-color: #2e2e2e;
}

td, th {
  padding: 0.5rem;
  border: 0.1rem solid black;
  text-align: left;
}
td:hover, th:hover {
  background-color: #d4d802;
  color: #1a1a1a;
}

th {
  color: #dddddd;
  font-weight: 700;
}

img {
  align-self: center;
  width: 100%;
  max-width: fit-content;
  image-rendering: -webkit-optimize-contrast;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.075) 0 0 0.4rem 0.2rem;
}

body {
  background-color: #141414;
  color: #ececec;
}

/*# sourceMappingURL=main.css.map */
