@import "./reset.scss";
@import "./variables.scss";
@import "./typography/font";
@import "./blocks/blocks";
@import "./lists/lists";
@import "./form/forms";
@import "./tables/tables";
@import "./media/img";

body{
    background-color: $main-color;
    color: $font-color;
    padding: {
        left: 4rem;
        right: 4rem;
    };
}
@media screen and (max-width: 800px){
    body{
        padding: {
            left: 1rem;
            right: 1rem;
        };
    }
}

@media screen and (max-width: 500px){
    body{
        padding: {
            left: 0rem;
            right: 0rem;
        };
    }
}