@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import "./text_blocks";
@import "./links";
@import "./texts";

/*FONT VARIABLES*/
:root{
    --font-size: calc(16px + 0.1vw);
}

/*SET ROOT FONT*/
@mixin font_config{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size);
    font-weight: 400;
    letter-spacing: 0.2px;
    text-rendering: optimizeLegibility;
}

html{
    @include font_config();
}
*{
    font-family: 'Open Sans', sans-serif;
}