a{
    color: $accent-color;
    text-decoration: underline;

    &:hover{
        color: $accent-color-light
    }
    &:visited{
        color: $inverse-color;
        &:hover{
            color: $inverse-color-light;
            border-bottom: 1px solid $inverse-color-light;
        }
    }
}