a{
    color: $accent-color;
    text-decoration: underline;

    &:hover{
        color: adjust-color($accent-color, $lightness: 15%);
    }
    &:visited{
        color: invert($accent-color);
        &:hover{
            color: adjust-color(invert($accent-color), $lightness: 15%);
            border-bottom: 1px solid adjust-color(invert($accent-color), $lightness: 15%) ;
        }
    }
}