table{
    background-color: $main-color-dark-5;
    margin: {
        top: 2rem;
        bottom: 2rem;
    };
    border: 0.2rem solid $main-color-dark-10;
    @include apply-box-shadow();
}

tr:nth-child(2n+1){
    background-color: $main-color-light-5;
}
tr:first-child{
    background-color: $main-color-light-10;
}
td,th{
    padding: 0.5rem;
    border: 0.1rem solid $main-color-dark-10;
    text-align: left;

    &:hover{
        background-color: $accent-color;
        @include contrast-font($accent-color);
    }
}
th{
    @include contrast-font($main-color-dark-10);
    font-weight: 700;
}